.glitter {
    height: 62px;
    width: 150px;
    perspective: 500px;
    position: absolute;
}
.glitter-inner {
    position: relative;
    height: 62px;
    width: 150px;
    text-align: center;
    transition: transform 100ms linear;
    transform-origin: center center;
    transform-style: preserve-3d;
    animation: flip 4s linear 0s infinite forwards;
}

.glitter-front, .glitter-back {
    position: absolute;
    width: 150px;
    height: 62px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: center center;
}
.glitter-front {
    z-index: 2;
}
.glitter-back {
    transform: rotateY(180deg);
    z-index: 1;
}

